*{
    margin:0;
    padding: 0;
}
/*头部栏*/
.header_bar{
    font-size: 0px;
    width:100%;
}
.header_information{
    float:left;
    width:100%;
}
.header_navigation{
    width: 100%;
    overflow: hidden;
}
/*导航栏*/
.tab{
    width: 800px;
    height: 50px;
    margin-left: 5%;
}
.tab ul li {
    width: 150px;
    height:30px;
    float: left;
    list-style: none;
    margin-left: 5px;
}
.tab ul li a{
    width: 150px;
    height:30px;
    text-align: center;
    display: block;
    line-height: 25px;
    text-decoration: none;
    color: white;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.tab ul li a:hover{
    color: #ffffff;
    background-color: #0582CB;
}
.exerciseTopic{
    background-color: #81C0E5;
}
.examinationOnline{
    background-color: #0582CB;
}
.personalInformation{
    background-color: #81C0E5;
}
/*头部内容*/
.up_content{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
/*中部内容*/
.center_content{
    text-align: center;
}
.center_content h2,img{
    display:inlin-block;
    color: #0582CB;
}
.main_examination_information{
    margin-left: 100px;
    margin-top: 10px;
    text-align: left;
    color: #0582CB;
}
.examination_Instruction{
    margin-left: 100px;
    margin-top: 10px;
    color: #333;
}
.examination_Instruction p{
    text-align: left;
}
#confirm{
    margin-top: 10px;
    display:inlin-block;
    background-color: #D0D0D0;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border-color: #EFEFEF;
    border-width: 3px;
}
#confirm:hover{
    cursor:pointer;
}
